.mobile-header {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 75px;
    z-index: 9;
}

.mobile-nav {
    height: 50px;
    position: absolute;
    margin-top: 12.5px;
    margin-bottom: 12.5px;
    left: 12.5px;
}

@media only screen and (min-width:828px) {
    .nav {
        position: fixed;
        top: 0;
        z-index: 100;
        width: 100%;
        display: inline-flex;
        height: 75px;
        background-color: white;
        box-shadow: 4px 4px 30px rgba(39, 39, 39, .7);
    }
    .nav-logo {
        height: auto;
        width: auto;
        max-width: 20%;
        margin: auto 2% auto 5%;
    }
    .nav-ul {
        list-style: none;
        display: inline-flex;
        width: 74%;
        margin: auto 5% auto 2%;
    }
    .nav-li,
    .menu-item {
        padding: 0 1%; 
        margin: auto;
    }
    .nav-a,
    .menu-item a {
        text-decoration: none;
        font-size: 28px;
        color: #002868;
    }
    .menu-item a:hover,
    li.current-menu-item a {
        color: #D30202!important;
        font-weight: bold;
    }
    .desktop-only {
        left: 0%!important;
    }
}

@media only screen and (max-width: 828px) {
    .mobile-only {
        display: block;
    }
    .mobile-header {
        display: inline-flex;
    }
    .nav {
        height: 100vh;
        width: 100vw;
        background: white;
        position: fixed;
        top: 0;
        left: 100%;
        z-index: 10;
        display: block;
        border-bottom: none;
    }
    .mobile-close-button {
        width: 8vw;
        height: 8vw;
        position: absolute;
        top: 2vw;
        right: 2vw;
        display: block;
    }
    .nav-ul {
        width: 100%;
        height: 100%;
        position: relative;
        display: block;
        margin: auto;
        margin-top: 10vh;
        z-index: 100;
    }
    .nav-li,
    .menu-item {
        width: 100%;
        height: 15vw;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center
    }
    .nav-logo {
        height: 75px;
        width: 90vw;
        max-width: 90vw;
        margin: auto;
        margin-top: 8vw;
    }
    .mobile-logo-container {
        width: 100%;
        height: 30vw;
    }
    .mobile-active {
        margin: auto;
        width: 96%;
        border-radius: 14px;
        background-color: #DE5846!important;
    }
    .mobile-nav-title {
        font-size: 20px;
        font-weight: 900;
        width: 100%;
        text-align: center;
        line-height: 25px;
        color: #D30202;
        margin-top: 0px;
        margin-bottom: 0px;
        text-decoration: none;
        text-transform: capitalize;
        max-width: 80%;
    }
    .mobile-nav {
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .mobile-a,
    .menu-item a {
        color: #D30202;
        text-align: center;
        font-weight: 300;
        letter-spacing: .5vw;
        font-size: 4vw;
        line-height: 15vw;
        display: block;
        text-decoration: none;
    }
    li.current-menu-item a {
        margin: auto;
        width: 96%;
        background: #D30202;
        border-radius: 14px;
        color: white;
    }
}
