/*
Theme Name: WestTexas (ver 1.6.3)
Theme URI: http://unthink.me/
Description: Custom theme For West Texas Non-Slip.
Version: 1.6.0
Author: Hector Quintana
Author URI: https://twitter.com/PFKA_Gen
*/

@import url('https://fonts.googleapis.com/css?family=Raleway:400,700i');
* {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

body {
    background-color: white;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.nav-star {
    height: 50px;
    width: auto;
    margin: auto 2% auto 5%;
}

.index-main-section {
    /*
    padding: 50px 0;
    padding-top: 125px;
*/
    /*    height: 75vh;*/
    height: 100vh;
    margin: auto;
    text-align: center;
    background: #EEEEEE;
    display: block;
    background: url("img/hills.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    box-shadow: 4px 4px 30px rgba(39, 39, 39, .7);
}

.main-filter {
    background-color: rgba(238, 238, 238, 0.2);
    width: 100%;
    height: 100%;
}

.accent-title {
    width: 100%;
    height: 150px;
    /*    background-color: #002868;*/
    background-color: #6AA8F4;
    text-align: center;
}

.accent-title p {
    color: white;
    font-size: 28px;
    text-transform: uppercase;
}


/*
.main-filter:hover {
    background-color: rgba(238, 238, 238, 0.1);
}
*/

.main-container {
    display: block;
    width: 100%;
}

.main-image {
    width: 50%;
}

.main-slogan {
    font-size: 36px;
    margin: 5px auto;
    text-transform: uppercase;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.main-slogan span {
    color: yellow;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.index-body {
    /*    width: 900px;*/
    width: 950px;
    height: auto;
    margin: auto;
    background-color: #EEEEEE;
    /*
    display: inline-flex;
    justify-content: center;
*/
}

.index-text-section {
    width: 550px;
    padding: 50px;
    margin: 50px 25px;
    text-align: left;
    float: left;
    border-radius: 25px;
    /*    background-color: #EEEEEE;*/
    background-color: white;
}

.index-text-section h1 {
    font-size: 32px;
    margin: 5px auto;
    text-align: left;
    text-decoration-style: solid;
    text-decoration: underline;
    text-decoration-color: #002868;
    color: #BF0A30;
}

.index-text-section p {
    font-size: 18px;
    margin: 15px auto;
    text-align: left;
}

.business-logo-container {
    width: 250px;
    margin: 50px auto;
    float: right;
    border: 25px;
    background-color: white;
    border-radius: 25px;
}

.business-logo {
    width: 150px;
    margin: 5px 50px;
}

.landing-image {
    width: 100%;
    height: 100vh;
    background: url("img/iStock-487487825.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.map {
    height: auto;
    width: 100%;
}

.gmap-canvas {
    height: 600px;
    width: 100%;
}

.scrolloff {
    pointer-events: none;
}

.footer {
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: white;
}

.footer-content {
    max-width: 800px;
}

.footer-social-media {
    display: flex;
    margin: auto;
    min-width: 200px;
}

.footer-social-link {
    height: 50px;
    flex: 0 1 29%;
    margin-left: 2%;
    margin-right: 2%;
}

.footer-seal {
    height: 75px;
    flex: 0 1 29%;
    margin-left: 2%;
    margin-right: 2%;
    width: 75px;
}

.seal-icon {
    height: 75px;
    width: auto;
}

.footer-text {
    color: #bdbdbd;
    margin: auto;
    margin-top: 20px;
    font-size: 12px;
}

.social-media-icon {
    height: 50px;
    width: auto;
}

.call-button {
    /*    background-color: #BF0A30;*/
    border: none;
    /*    color: white;*/
    padding: 16px 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
    clear: both;
    width: 100%;
    background-color: white;
    color: black;
    box-shadow: 4px 4px 30px rgba(39, 39, 39, .7);
}


/*
.call-button:hover {
    background-color: #002868;
        background-color: #BF0A30;
    box-shadow: 4px 4px 30px rgba(39, 39, 39, .7);
}
*/

.sure-step-accent {
    background-color: #BF0A30;
    color: white;
    width: 100%;
    padding: 25px 0;
    margin: auto;
}

.sure-step-accent p {
    text-transform: uppercase;
    font-size: 36px;
}

.sure-step-text {
    padding: 50px 0;
    margin: auto;
    background: white;
    text-align: center;
}

.sure-step-science p {
    width: 800px;
    font-size: 18px;
    margin: 25px auto;
    text-align: left;
}

.sure-step-science ul {
    width: 800px;
    text-align: left;
    margin: auto;
    /*    list-style-position: inside;*/
}

.sure-step-science {
    padding: 50px 0;
    /*    display: inline-flex;*/
    margin: auto;
    background: white;
    text-align: center;
}

.sure-step-text p {
    width: 800px;
    font-size: 18px;
    margin: 25px auto;
    text-align: left;
}

.sure-step-science ul li {
    font-size: 18px;
}

.example-right {
    position: relative;
    padding: 15px 30px;
    margin: 0;
    color: #fff;
    background: #002868;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.quotes-container {
    width: 800px;
    padding: 25px 0;
    margin: auto;
}

blockquote p {
    margin: 0;
    font-size: 2em;
}

.example-right:after {
    content: "";
    position: absolute;
    bottom: -50px;
    left: 50px;
    border-width: 0 20px 50px 0px;
    border-style: solid;
    border-color: transparent #002868;
    display: block;
    width: 0;
}

.example-right+p {
    margin: 15px 0 2em 85px;
    font-style: italic;
}

.main-body {
    margin: 50px auto;
    width: 900px;
}

.main-body-container {
    display: inline-flex;
    width: 100%;
}

.white-bg {
    background-color: white;
}

.special-image {
    width: 70%!important;
}

.gray-text {
    background-color: #EEEEEE;
}

.body-left,
.body-right {
    flex: 0 0 48%;
    margin: auto 1%;
    padding: 5px 0;
    display: block;
}

.body-full {
    flex: 0 0 80%;
    margin: auto;
    padding: 10px;
}

.body-full p {
    font-size: 32px;
    line-height: 1.5;
    text-align: center;
}

.body-left p,
.body-right p {
    line-height: 2;
}

.body-left ul li,
.body-right ul li {
    line-height: 2;
    /*    list-style: inside;*/
}

.body-left h1,
.body-right h1 {
    font-size: 32px;
    text-transform: uppercase;
    padding: 0 5px;
}

.body-hidden {
    display: none;
}

.body-right a img,
.body-left a img,
.body-right img,
.body-left img {
    width: 90%;
    margin: auto;
}

.contact-social {
    /*    padding: 25px 0;*/
    padding-bottom: 25px;
    margin: auto;
    display: block;
    border-bottom: 5px solid #D30202;
}

.contact-social p {
    font-size: 32px;
    margin: 5px auto;
    text-align: center;
}

.contact-social-media {
    display: flex;
    max-width: 200px;
    margin: 5px auto;
}

.red-bot {
    border-bottom: 5px solid #D30202;
    box-shadow: none;
}

.red-bot-top {
    border-bottom: 5px solid #D30202;
    border-top: 5px solid #D30202;
    box-shadow: none;
}


/*Mobile css */

.mobile-header {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 75px;
    background: #F3F3F3;
    z-index: 9;
}

.desktop-only {
    display: block;
}

.mobile-only {
    display: none;
}

.mobile-close-button {
    width: 8vw;
    height: 8vw;
    position: absolute;
    top: 2vw;
    right: 2vw;
}

.mobile-tab {
    width: 100%;
    height: 15vw;
}

.mobile-chart {
    display: none;
    margin: auto;
}

.desktop-chart {
    display: block;
    margin: auto;
}

.call-button h3 {
    /*    display: block;*/
    font-size: 2em;
    -webkit-margin-before: 0.2em;
    -webkit-margin-after: 0.2em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}

.call-button h3 a {
    text-decoration: none;
    color: black;
}


/*Post Style*/

.blog-post {
    flex: 0 0 80%;
    margin: auto;
    padding: 10px;
}

.blog-post-title {
    font-size: 36px;
    text-align: left;
    font-weight: normal;
}

.blog-post-meta {
    font-size: 22px;
    line-height: 1.5;
    text-align: left;
    margin-bottom: 25px;
}

@media only screen and (max-width: 825px) {
    .main-body {
        width: 800px;
    }
}

@media only screen and (max-width: 828px) {
    .desktop-only {
        display: none;
    }
    .mobile-email {
        font-size: 28px;
    }
    .mobile-only {
        display: block;
    }
    .main-image {
        width: 90%;
    }
    .quotes-container,
    .sure-step-accent {
        width: 90%;
        margin: auto;
    }
    .sure-step-accent {
        padding-left: 5%;
        padding-right: 5%;
    }
    .sure-step-text p {
        width: 90%;
    }
    .sure-step-science p {
        width: 90%;
    }
    .sure-step-science ul {
        width: 80%;
    }
    .desktop-chart {
        display: none;
    }
    .mobile-chart {
        display: block;
    }
    .index-body {
        width: 100%;
    }
    .index-text-section h1 {
        margin: auto 5%;
        text-align: center;
    }
    .index-text-section p {
        margin: 5%;
    }
    .index-text-section {
        width: 90%;
        padding: 5%;
        border-radius: 0px;
        float: none;
        margin: 0;
        background-color: white;
    }
    .business-logo-container {
        float: none;
        width: 100%;
        margin: 0;
        border-radius: 0px;
        background-color: white;
    }
    .business-logo {
        /*        max-width: 90%;*/
        width: auto;
        height: 25vh;
        margin: 0 auto;
        padding: 2vw 0;
        display: block
    }
    .index-text-section img {
        display: block;
        margin: auto;
    }
    .call-button h1 {
        width: 90%;
        margin: 5%;
        font-size: 1.6em!important;
    }
    .main-slogan {
        width: 90%;
        margin: auto 5%;
    }
    .main-body {
        width: 100%;
    }
    .main-body-container {
        display: block;
    }
    .body-left,
    .body-right {
        flex: 0 0 90%;
        margin: auto 5%;
    }
    .body-hidden {
        display: block;
    }
    .body-desktop {
        display: none;
    }
    .contact-social p {
        width: 90%;
        margin: auto 5%;
    }
    .body-left ul li,
    .body-right ul li {
        width: 90%;
        margin: auto;
    }
    .body-full p {
        font-size: 22px;
        line-height: 1.25;
        text-align: center;
    }
    .body-left p,
    .body-right p {
        text-align: center;
    }
    .mobile-full-width {
        width: 100%!important;
        height: auto;
    }
    .quotes-container h2 {
        text-align: center;
    }
    .flex-item {
        flex: 0 0 100%;
    }
}


/*form css*/

.text-img-container {
    width: 100%;
    position: relative;
}

.img-text {
    font-size: 4VW;
    font-weight: 100;
    z-index: 1;
    position: absolute;
    left: 0;
    top: 20vw;
    color: white;
    width: 100%;
    text-align: center;
    display: inline-block;
}

.img-text-icon {
    width: 4vw;
    z-index: 1;
    position: absolute;
    top: 30vw;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.contact-container {
    width: 100%;
    margin-top: 50px;
    display: flex;
}

.contact-info-container {
    width: 42%;
    padding-right: 4%;
    padding-left: 4%;
}

.contact-title {
    font-size: 1.7vw;
    font-weight: 500;
    color: rgb(82, 82, 82);
    letter-spacing: .1vw;
}

.contact-top-margin {
    margin-top: 25px;
}

.bold-span {
    font-weight: 600;
}

.contact-sub-title {
    font-weight: 500;
    color: rgb(82, 82, 82);
    padding-bottom: 5px;
}

.contact-text {
    font-weight: 300;
    color: rgb(82, 82, 82);
    padding-top: 25px;
    padding-bottom: 25px;
}

.contact-social-img {
    width: 40px;
    height: 40px;
}

input[type=text],
select {
    width: 100%;
    height: 40px;
    padding: 5px 8px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 12px;
    color: rgb(39, 39, 39);
}

input[type=button] {
    width: 20%;
    /*    background-color: rgb(39, 39, 39);*/
    background-color: #002868;
    color: white;
    padding: 14px 20px;
    margin: 8px 39%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;
    font-weight: 500;
}

.confirmation-container {
    height: 50px;
    text-align: center;
}

#confirmation-message {
    color: green;
    font-weight: 500;
    display: none;
    text-align: center;
}

input[type=submit] {
    width: 20%;
    background-color: rgb(39, 39, 39);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;
    font-weight: 500;
}

input[type=submit]:hover {
    background-color: #45a049;
}

textarea {
    width: 100%;
    height: 200px;
    margin: 8px 0;
    padding: 10px 8px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: none;
    font-size: 12px;
}

.first-name-container {
    width: 45% !important;
}

.last-name-container {
    width: 49% !important;
    margin-left: 5% !important;
}

.form-container {
    margin-top: 50px;
    /*    margin-bottom: 50px;*/
}

.text-section {
    width: 800px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

.text-section p {
    font-size: 25px;
    line-height: 30px;
    color: rgba(100, 100, 100, 1);
}

.blog-body {
    margin: 50px auto;
    max-width: 1000px;
    width: 100%;
}

.blog-post-title a,
.blog-post-meta a {
    text-decoration: none;
    color: black;
}

.blog-post-title {
    margin: 10px 0;
}

.blog-post-title,
.blog-post-meta {
    text-align: center
}

.blog-post h3 {
    margin: 1em 0;
}

.blog-post h3 {
    margin: 0.83em 0;
}

.blog-post p {
    margin: 1em 0;
}

.blog-post h1 {
    text-align: center;
    margin-bottom: 50px;
}

.flex-container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
}

.flex-item {
    flex: 0 0 50%;
}

.post-flex-item {
    flex: 0 0 25%;
}

.post-flex-content {
    margin: 0 auto;
    width: 95%;
}

p {
    margin-bottom: 1rem;
    font-size: inherit;
    line-height: 1.6;
    text-rendering: optimizeLegibility;
}

h5 {
    font-weight: 900;
    color: #31393c !important;
    font-size: 1.25rem;
}

.blog-page-title {
    text-align: center;
    font-size: 1.75rem;
    text-transform: uppercase;
    margin: 2vh auto;
}

.default-page-body {
    width: 95%;
    max-width: 800px;
    margin: auto;
}

.size-full {
    max-width: 100%!important;
    height: auto!important;
}


/* =WordPress Core
-------------------------------------------------------------- */

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

iframe {
    margin: auto 120px;
}

@media only screen and (max-device-width: 736px) and (orientation: portrait) {
    .img-text {
        display: none;
    }
    .img-text {
        display: none;
    }
    .img-text-icon {
        display: none;
    }
    .contact-container {
        display: inline;
    }
    .contact-info-container {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        padding-top: 50px;
    }
    .contact-title {
        font-size: 7vw;
    }
    .contact-sub-title {
        font-size: 4vw;
    }
    .contact-text {
        font-size: 4vw;
        line-height: 5vw;
    }
    #contact-follow {
        display: none;
    }
    #contact-social {
        display: none;
    }
    .first-name-container {
        width: 100% !important;
    }
    .last-name-container {
        width: 100% !important;
        margin-left: 0 !important;
    }
    input[type=button] {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
    input[type=submit],
    input[type=text],
    select,
    option {
        font-size: 5vw;
        width: 90%;
        margin: auto;
        margin-top: 1vh;
        height: 10vw;
        font-weight: 100;
    }
    textarea {
        font-size: 5vw;
        width: 90%;
        margin: auto;
        margin-top: 1vh;
        height: 20vw;
        font-weight: 100;
    }
    input[type=button] {
        width: 90%;
        font-size: 5vw;
        height: 10vw;
        margin: auto;
        margin-top: 1vh;
        padding: 0;
    }
    .text-section p {
        font-size: 20px;
        line-height: 24px;
    }
    .text-section {
        width: 95%;
        margin: 0 auto;
        margin-top: 50px;
    }
    .post-flex-item {
        flex: 0 0 100%;
    }
    h5,
    .post-flex-content p {
        text-align: center;
    }
    iframe {
        width: 95%;
        margin: 0 2.5%;
    }
}
